/*body {
	background-color: #fff;
	margin:0;
	padding: 0;
}
.pensWrapper{
	width: 100%;
	height: 100%;
}

.penContainer {
	float: left;
	display: inline-block;
	width: 50%;
	font-size: 3em;
	text-align: center;
	color: #fff;
}

.penItem {
	width: 50%;
	padding: 7% 0;
	display: inline-block;
	margin: 2% auto;
}

.pen0 {
	background-color: #ff0000;
}
.pen1 {
	background-color: #00ff00;	
}
.pen2 {
	background-color: #0ffff0;	
}
.pen3 {
	background-color: #0000ff;
}
.pen4 {
	background-color: #ff00ff;
}*/